.container-main {
  max-width: 1120px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: TT Lakes Medium;
  color: $color_text-main;
  font-size: 16px;
}
