@media (min-width: $breakpoint_tablet) {
  .note {
    padding-left: 24px;
    &__text-box {
      width: 425px;
      height: 60px;

      margin-bottom: 16px;
    }
    &__link-box {
      width: 300px;
    }
    &__link-text::after {
      top: 5px;
      left: 300px;
    }
  }
}
@media (min-width: $breakpoint_desktop) {
  .note {
    padding-left: 32px;
  }
}
